.title, .linkTitle{
    margin: 0 !important;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .025em;
    color : #6772e5
}

.linkSub{
    font-size: 15px;
    line-height: 22px;
    color: #6b7c93;
    margin: 5px 0 0;
    display: block;
}

li.link{
    display: flex;
    align-items: center;
    padding: 9px 0;
    // &:first-child{
    //     margin-right: 2rem;
    // }
}



.product-main-component{
    // width: 710px;
    // height: 361px;

    ul{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 640px;
        max-width: calc(100vw - 85px);
        margin: -5px -10px;
        justify-content: center;
    }

    li.item{
        flex: 1 0 50%;
        display: flex;
        color: black;
        align-items: center;
        padding: 18px 10px;

        .icon-mock{
            margin-right: 20px;
        }

        .text{
            max-width: 70%;

            

            
        }
    }
}

.product-bottom-component{
    color: #6772e5;
    display: flex;  
    justify-content: center;
    flex: 1;
    width: 710;
    height: 83;
    // width: 673px;
    // height: 83px;

   
    li:first-child{
        margin-right: 2rem;
    }

   .icon-mock{
        margin: 0 12px -3px -1px;
   }
}

.company-main-component{
}

.company-bottom-component{

    // width: 300.97px;
    // height: 177px;

    .article-list{
        margin: 5px 10px 5px 28px !important;
        li{
            display: block;
            white-space: nowrap;
            padding: 5px 0;
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            color: #6772e5;
        }
    }
}

.developer-main-component{
    padding-left: 28px;
    width: 309px;

    .top{
        p{
            max-width: 250px;
            margin-top: 5px;
        }

        .title{
            margin-left:-29px !important
        }

    }

    .bottom{ 
        display: flex;
        justify-content: space-between;
       
        ul:first-child{
            margin-right: 40px !important;
        }
        ul.list{

           
            li{
                color: #6772e5;
                &.linkTitle{
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: .025em;
                    margin: 0 0 3px;
                    color: #8898aa;
                }
            }
        }
    }

}

.developer-bottom-component{
    // width: 379px;
    // height: 160px;
}


