@import 'desktop-menu';
@import 'desktop-content-mock';
@import 'mobile-menu';
@import 'mobile-content-mock';

*{
    box-sizing: border-box;
}

li{ list-style: none}

body{
    color: #6b7c93 !important;
    perspective: 2000px;
    overflow-x: hidden;
    background: yellowgreen !important;
    height: 200vh;
}
