.popup{
    position: absolute;
    top:10px;
    left: 10px;
    right: 10px;
    padding: 40px 0 0px;
    background: #fff;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;

    

    .close-button{
        position: absolute;
        right: 0;
        top: 0;
        width: 51px;
        height: 51px;
        font-size: 0;
        cursor: pointer;

        &::after, &::before{
            content: '';
            position: absolute;
            background: #32325d;
            border-radius: 1px;
            left: 14px;
            right: 14px;
            top: 24px;
            height: 3px;
            transform: rotate(45deg);
        }

        &::after{
            transform: rotate(-45deg);
        }
    }
}

.hamburger{    
    font-size: 0;
    right: 13px;
    top: 23px;

    &::after, &, &::before{
        content: '';
        position: absolute;
        width: 24px;
        height: 3px;
        border-radius: 1px;
        background: #fff;

        &:focus{
            opacity: 0.8;
        }
    }

    &::after{
        top:9px;        
    }

    &::before{
        top:-9px;        
    }
}
